@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
font-family: 'Lato', sans-serif;
padding: 0;
margin:0; 
box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, span{
    color:#242424;
    text-align: center;
    line-height: 1.25;
}
h1{
    font-size: 36px;
}
p{
    line-height: 1.5;
    font-size: 16px;
}
a {
    text-decoration: none;
    position: relative;
    
}
li{
    list-style-type:none;
}

.flex{
    display: flex;
}

.flex-1 {
    flex:1
}
.row{
    width: 100%;
    max-width:800px;
    margin: 0 auto;
}
.text--purple{
  color:#6030b1  
}
/* Navigation Bar */

nav{
    Height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link--list{
    display:flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight:700;
}

.nav__link--anchor-primary {
background-color: #6030b1;
padding: 8px 20px;
border-radius: 50px;
color: white;
transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color:#5d3eff;
}

.personal__logo {
    font-size: 24px;
    color:#6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/*ABOUT ME*/

#about-me{
    min-height:100vh;
    display: flex;
    flex-direction:column;
}

.about-me__info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin:0 auto;
    text-align: center;
}
.about-me__info--title{
    margin-bottom: 16px;
    animation: fade-up 650ms 600ms backwards;
}
.about-me__infor--para{
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 650ms 800 ms backwards;

}
.about-me__links {
    font-size: 25px;
    color:darkblue;
    text-decoration:none;
    padding: 0 16px;
}

.about-me__links {
    animation: fade-up 650ms 400ms backwards;
}

.wave{
    animation: animate-wave 500ms infinite;
}

@keyframes animate-wave{
 0%{
    transform:rotate(0);
 }   
 50%{
    transform: rotate(30deg);
 }
 100%{
    transform: rotate (0);
 }
}