@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
padding:0;
margin:0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
nav{
    height:90px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}
header { 
    background-color:#eadcff;
    height: calc(100vh-70px);
    Padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 70px;
}
.subheader {
    font-size: 36px;
    margin:16px 0 24px 0;
}
button { 
    background-color:#05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size:24px;
    cursor: pointer;
}
a { 
color: rgb(55, 67, 226);
font-size: 24px;
font-weight: 700;
}
.logo{ 
width: 200px    
}

ul {
    display: flex;
}

li {
 list-style-type: none;
 padding-left: 16px;
}

 h2{
    font-size: 60px;
    text-align:center;
    margin-bottom: 24px;
} 
.row{ 
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home,
#Contact,
#About,
footer {
    padding: 48px 0;
}

#Home {
    padding: 48px 0; 
    background-color: #e0eab7;
}
.section__description{
    Padding: 24px;
    font-size: 34px;
    text-align: center;

}

#Contact { 
    background-color: #dce9ff;
    display: flex;
    flex-direction: column;
    align-items: center

}
form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

#About{
    background-color: #cefeff;
}
.info__description{
    padding: 24px;
    font-size: 25px;
    text-align: center;
}
form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin:0 auto;
}
input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

footer {
background-color: #aaf5ff;
display: flex;
flex-direction: column;
align-items: center; 
}